<?xml version="1.0" encoding="UTF-8"?>
<!--
  **************************************************-
  ingrid-iplug-excel
  ==================================================
  Copyright (C) 2014 wemove digital solutions GmbH
  ==================================================
  Licensed under the EUPL, Version 1.1 or – as soon they will be
  approved by the European Commission - subsequent versions of the
  EUPL (the "Licence");
  
  You may not use this work except in compliance with the Licence.
  You may obtain a copy of the Licence at:
  
  http://ec.europa.eu/idabc/eupl5
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the Licence is distributed on an "AS IS" basis,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the Licence for the specific language governing permissions and
  limitations under the Licence.
  **************************************************#
  -->


<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    
    
  <!-- the application context definition for the springapp DispatcherServlet -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:messages_base</value>
			</list>
		</property>
		<property name="cacheSeconds" value="0" />
		<property name="fallbackToSystemLocale" value="false"></property>
	</bean>

    <!-- XML DEFINED BEANS WITH ACCORDING QUALIFIER TO BE AUTOWIRED VIA QUALIFIER ! -->

    <!-- Single parsers are injected explicitly (but created via annotation mechanism) -->
    <!-- Adapt number, type and order of parsers dependent from iPlug -->
    <bean class="de.ingrid.admin.elasticsearch.converter.QueryConverter">
        <qualifier value="XMLconfigured"/>
        <property name="queryParsers">
            <list>
                <ref bean="defaultFieldsQueryConverter" />
                <ref bean="datatypePartnerProviderQueryConverter" />
                <ref bean="fieldQueryIGCConverter" />
                <ref bean="rangeQueryConverter" />
                <ref bean="wildcardQueryConverter" />
                <ref bean="wildcardFieldQueryConverter" />
                <ref bean="matchAllQueryConverter" />
            </list>
        </property>
     </bean>


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<property name="maxUploadSize" value="100000000"/> 
	</bean> 
    
    <!-- enable Auto-detecting of components (annotation based configuration including autowire ...) -->
    <context:component-scan base-package="de.ingrid">
    </context:component-scan>

    <mvc:annotation-driven/>
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/img/**" location="/img/" />
    <mvc:resources mapping="/images/**" location="/images/" />
    
</beans>